/* Navbar Styling */
.navbar {
    background-color: dimgrey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0; /* Alinea la navbar en la parte superior */
    left: 0; /* Alinea la navbar a la izquierda */
    width: 100%; /* Asegura que la navbar ocupe todo el ancho de la ventana */
    z-index: 1000;
}

/* Asegura que el contenido principal no se superponga con la navbar fija */
.main-content {
    margin-top: 60px; /* Ajusta este valor si es necesario para que el contenido no quede oculto detrás de la navbar */
}

/* Branding Styling */
.navbar-brand {
    font-size: 28px;
    font-family: "Rapier Zero", serif;
}

/* Menu Styling */
.navbar-menu {
    list-style: none;
    display: flex; /* Usa flexbox para alinear horizontalmente los elementos del menú */
    gap: 20px; /* Espacio entre los elementos del menú */
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
}

/* Link Styling */
.navbar-menu a {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-menu a:hover {
    color: white;
    text-decoration: underline;
}
