
.navbar {
    background-color: dimgrey;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 0; /
    left: 0; /
    width: 100%;
    z-index: 1000;
}

.main-content {
    margin-top: 60px;
}

/* Branding Styling */
.navbar-brand {
    font-size: 28px;
    font-family: "Rapier Zero", serif;
}

.navbar-menu {
    list-style: none;
    display: flex; /* Usa fl
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-menu a:hover {
    color: white;
    text-decoration: underline;
}
