/* Fondo */
body {
  background-image: url('./assets/images/fondoo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: darkseagreen;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body tenga al menos el alto de la pantalla */
  display: flex;
  flex-direction: column;
}

/* Contenedor principal */
#root {
  flex: 1; /* Permite que el contenedor principal se expanda para ocupar el espacio disponible */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilo de las imágenes de los logos */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms ease;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animación de giro del logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilo de las tarjetas */
.card {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  max-width: 400px;
}

/* Estilo del texto al final de la página */
.read-the-docs {
  color: #888;
  margin-top: 2rem;
}

/* Estilo del carrusel */
.carousel {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px; /* Ajusta este valor para mover el carrusel hacia abajo */
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

/* Controles del carrusel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

/* Añadir espacio superior a los elementos principales para separarlos más del navbar */
.container {
  margin-top: 50px; /* Ajusta este valor si es necesario */
}

/* Estilo del footer */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
